<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: headTag(title='History')}"></head>

    <body>
        <!-- Use the fragment and pass HTML as 'content' -->
        <div th:replace="~{fragments/student-layout :: studentPageLayout(content=~{:: #myStudentContent}, active='history')}"></div>

        <!-- Define the HTML block to pass -->
        <div style="display: none">
            <main id="myStudentContent">
              <h1 class="text-3xl">History</h1>
            
            </main>
        </div>
    </body>
</html>
